
extends template-part/layout.pug

//- Cover
mixin slide(src_1, src_2, href="#", text="FREE TO PLAY", src_3, alt="image")
    .slide
        img.background(src = src_1, alt = alt)
        .content
            .gameName
                img(src= src_2, alt = alt)
            .button
                a(href= href).btn=text
            .gameStudio
                img(src=src_3, alt = alt)

//- Poster
mixin poster(src, name, price, des, alt="image", ...platforms)
    .poster  
        img.background(src = src, alt = alt)
        .box
            .content
                .gameName= name
                .gamePrice= "$ " + price
                .gameDes= des
                .gamePlatform
                    each platform in platforms 
                        button.btn= platform
                .gameOrder
                    button.btn Đăng ký

//- Product item
mixin product(src, alt="product image")
    .product
        img(src=src, alt=alt)


//- New
mixin blogBox(src, alt="blog image", h4, p)
    .box 
        .image 
            img(src=src, alt=alt)
        .text 
            h4=h4
            p=p



block title
    title Start Game - Trang Chủ

block css
    link(rel="stylesheet", href="./css/index.css")
    
block content
    .container-fluid.cover
        +slide('./img/cover/Cover.jpg', "./img/cover/Genshin.png", "product.html", text, "./img/cover/mihoyo.png")
        +slide('./img/cover/cyberpunk2077characterart.jpg', "./img/cover/cyberLogo.png", href, text, "./img/cover/cyber.png")

    .container 
        .comingSoon
            h2 Sắp Phát Hành
        .container.carousel
            +poster("./img/comingsoon/Red-Dead-Redemption-2.jpg", 
                    "Red Dead Redemption 2", 
                    "55.99", 
                    "Game phiêu lưu hành động với chủ đề về miền Tây hoang dã, game do Rockstar Games phát hành",
                    "Red Dead Redemption 2",
                    "Xbox",
                    "PS 5",
                    "PC"
                    )
            +poster("./img/comingsoon/Marvel.jpg", 
                    "Marvel's Avengers", 
                    "12.99", 
                    "Bom tấn phiêu lưu hành động, nơi hội tụ của Biệt đội siêu anh hùng và những cuộc chiến nảy lửa.",
                    "Marvel's Avengers",
                    "PS 5",
                    "PC"
                    )
            +poster("./img/comingsoon/nfsheat.jpg", 
                    "Need for Speed: Heat", 
                    "9.99", 
                    "Game gồm 127 xe đua thuộc 33 các thương hiệu khác nhau, trong đó có siêu xe Ferrari huyền thoại.",
                    "Need for Speed: Heat",
                    "PC"
                    )
            +poster("./img/comingsoon/empireOfSin.jpg", 
                    "Empire Of Sin", 
                    "5.99", 
                    "Đưa bạn vào trung tâm của thế giới tội phạm khốc liệt những năm 20 ở Chicago.",
                    "Empire Of Sin",
                    "Xbox",
                    "PS 5",
                    "PC"
                    )
            +poster("./img/comingsoon/AKnightNeverYields.jpg", 
                    "A Knight Never Yields", 
                    "8.99", 
                    "Tìm hiểu vị trí của các bẫy và những gì bạn phải làm để đánh bại chúng mà tầm nhìn không thay đổi",
                    "A Knight Never Yields",
                    "Xbox",
                    "PS 5",
                    "PC"
                    )
        .container 
            .new 
                h2 Game Mới Đăng
            .container.newGame
                +product("./img/newgame/11731.jpg")
                +product("./img/newgame/11593.jpg")
                +product("./img/newgame/12230.jpg")
                +product("./img/newgame/11685.jpg")
                +product("./img/newgame/11842.jpg")
                +product("./img/newgame/12133.jpg")
                +product("./img/newgame/12188.jpg")
                +product("./img/newgame/12328.jpg")
                +product("./img/newgame/12163.jpg")
                +product("./img/newgame/11494.jpg")
                +product("./img/newgame/7882.jpg")
                +product("./img/newgame/11659.jpg")
            .container.loadMore.d-flex.justify-content-center.mt-5.mb-5
                a.btn(href="category.html") Xem thêm
        .container
            .blogContent 
                .blog 
                    h2 Tin tức
                    +blogBox("./img/blogs/2021012017225667708.jpg", 
                             alt = alt, 
                             'Sự kiện "Kho Báu Mất Dấu": Tìm kho báu để đổi lấy đạo cụ "Tiên Linh Nhỏ Bé"!', 
                             'Đến Cổng Đá, nhận bản đồ kho báu và đạo cụ "Tiên Linh Tầm Bảo" từ Ulman. Nhà Lữ Hành có thể xem khu vực kho báu, thu thập "Tiền Xu" để đổi thưởng.'
                            )
                    +blogBox("./img/blogs/2021010818065420420.png", 
                             alt = alt, 
                             'Giới thiệu nhân vật trong Genshin Impact [Ganyu: Cảnh Xuân Trong Mộng]', 
                             'Mùi hương cam thảo, vị ngọt nhành hoa, khung cảnh gió tuyết, Lưu Ly thoang thoảng.Mọi thứ như trong giấc mơ của thiếu nữ mang dòng máu Kỳ Lân.'
                            )
                    +blogBox("./img/blogs/2021010610420732472.png", 
                             alt = alt, 
                             'Sự kiện "Kho Báu Mất Dấu": Tìm kho báu để đổi lấy đạo cụ "Tiên Linh Nhỏ Bé"!', 
                             'Đến Cổng Đá, nhận bản đồ kho báu và đạo cụ "Tiên Linh Tầm Bảo" từ Ulman. Nhà Lữ Hành có thể xem khu vực kho báu, thu thập "Tiền Xu" để đổi thưởng.'
                            )
                    +blogBox("./img/blogs/lego1.png", 
                             alt = alt, 
                             '150 triệu mảnh ghép và 3 năm làm việc miệt mài, đây là bộ Lego lớn nhất trong lịch sử', 
                             'Từ 150 triệu mảnh ghép bé nhỏ, qua bàn tay của những nhà thiết kế, chúng ta đã được một tác phẩm Lego để đời.'
                            )         
                .mostView
                    h2 Xem nhiều
                    .box
                        .image
                            img(src="./img/blogs/gta-v-big_1477133865.jpg", alt="")
                        .text 
                            h4 GTA 5 và những tựa game sở hữu cốt truyện hay nhất trong lịch sử
                    .listNew 
                        ul 
                            li
                                a(href="") GTA 5 và những tựa game sở hữu cốt truyện hay nhất trong lịch sử 
                            li
                                a(href="") Bỏ 10 năm xây cả thế giới Chúa Nhẫn trong Minecraft đẹp mê hồn
                            li
                                a(href="") Game thủ Liên Minh: Tốc Chiến đầu tiên của Việt Nam đạt Thách Đấu mùa 1
                            li
                                a(href="") Top 3 trang bị mạnh và dễ sử dụng nhất tại Đấu Trường Chân Lý bản 11.2
                            li
                                a(href="") OMEN 15 Ryzen 4800H- Laptop "ngon, bổ, rẻ" cho fan đội đỏ
            .container.loadMore.d-flex.justify-content-center.mt-5.mb-5
                a.btn(href="category.html") Xem thêm
                    
block script 
    script(src="./js/index.js") 